In [15]:
import pandas as pd

with open("tr_penn-ud_ur_udtb-ud-train.conllu_0", "r", encoding="utf-8") as f:
    read_file = f.readlines()
    print(type(read_file))


df = pd.DataFrame([sub.split(",") for sub in read_file])
display(df)

<class 'list'>

,0,1,2,3,4,5,6,7,8,9,10,11
0,,role,case,animacy,subject_word,verb_word,object_word,predicted_role,probability_A,layer,source_test_accuracy_A,source_test_accuracy_O\n
1,0,S,Nom,,اجلاس,ہو,,A,0.8820105195045471,12,0.9137931034482759,0.8920863309352518\n
2,1,S,Nom,,بورڈ,کر,,O,0.00523609621450305,12,0.9137931034482759,0.8920863309352518\n
3,2,O,Nom,,,کر,اپیل,O,0.00015711382729932666,12,0.9137931034482759,0.8920863309352518\n
4,3,A,Acc,,بورڈ,کروا,اپیلیں,A,0.9999624490737915,12,0.9137931034482759,0.8920863309352518\n
...,...,...,...,...,...,...,...,...,...,...,...,...
26048,26047,S,Nom,,آمدنی,ہو,,O,0.0004138353106100112,0,0.7298850574712644,0.8273381294964028\n
26049,26048,S,Nom,,حاصل,ہو,,O,0.0037952400743961334,0,0.7298850574712644,0.8273381294964028\n
26050,26049,S,Acc,,پریشد,کر,,A,0.9574754238128662,0,0.7298850574712644,0.8273381294964028\n
26051,26050,O,Nom,,,کر,عہدیدار,O,0.002315380610525608,0,0.7298850574712644,0.8273381294964028\n
26052,26051,O,Nom,,,کر,فائدہ,O,2.9966579404572258e-06,0,0.7298850574712644,0.8273381294964028\n

In [16]:
filtered_df = df[[1,7,8,9,10,11]]
display(filtered_df)

,1,7,8,9,10,11
0,role,predicted_role,probability_A,layer,source_test_accuracy_A,source_test_accuracy_O\n
1,S,A,0.8820105195045471,12,0.9137931034482759,0.8920863309352518\n
2,S,O,0.00523609621450305,12,0.9137931034482759,0.8920863309352518\n
3,O,O,0.00015711382729932666,12,0.9137931034482759,0.8920863309352518\n
4,A,A,0.9999624490737915,12,0.9137931034482759,0.8920863309352518\n
...,...,...,...,...,...,...
26048,S,O,0.0004138353106100112,0,0.7298850574712644,0.8273381294964028\n
26049,S,O,0.0037952400743961334,0,0.7298850574712644,0.8273381294964028\n
26050,S,A,0.9574754238128662,0,0.7298850574712644,0.8273381294964028\n
26051,O,O,0.002315380610525608,0,0.7298850574712644,0.8273381294964028\n
26052,O,O,2.9966579404572258e-06,0,0.7298850574712644,0.8273381294964028\n

In [17]:
only_S = filtered_df.loc[filtered_df[1] == 'S']
display(only_S)

,1,7,8,9,10,11
1,S,A,0.8820105195045471,12,0.9137931034482759,0.8920863309352518\n
2,S,O,0.00523609621450305,12,0.9137931034482759,0.8920863309352518\n
6,S,O,4.089375943294726e-05,12,0.9137931034482759,0.8920863309352518\n
7,S,A,0.9891495108604431,12,0.9137931034482759,0.8920863309352518\n
8,S,A,0.9767642021179199,12,0.9137931034482759,0.8920863309352518\n
...,...,...,...,...,...,...
26041,S,O,0.03880612179636955,0,0.7298850574712644,0.8273381294964028\n
26044,S,A,0.9725635051727295,0,0.7298850574712644,0.8273381294964028\n
26048,S,O,0.0004138353106100112,0,0.7298850574712644,0.8273381294964028\n
26049,S,O,0.0037952400743961334,0,0.7298850574712644,0.8273381294964028\n
26050,S,A,0.9574754238128662,0,0.7298850574712644,0.8273381294964028\n

In [18]:
layer12 = only_S[only_S[9]== '12']
#display(layer12)
layer12[8] = pd.to_numeric(layer12[8], downcast="float")
print(layer12[8])

1       0.882011
2       0.005236
6       0.000041
7       0.989150
8       0.976764
          ...
1993    0.999998
1996    0.962923
2000    0.078123
2001    0.084903
2002    0.924852
Name: 8, Length: 516, dtype: float32

/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_31481/1355751354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer12[8] = pd.to_numeric(layer12[8], downcast="float")

In [19]:
only_O = filtered_df.loc[filtered_df[1] == 'O']
display(only_O)

layer12 = only_O[only_O[9]== '12']
#display(layer12)
layer12[8] = pd.to_numeric(layer12[8], downcast="float")
print(layer12[8])

,1,7,8,9,10,11
3,O,O,0.00015711382729932666,12,0.9137931034482759,0.8920863309352518\n
5,O,O,0.12012553215026855,12,0.9137931034482759,0.8920863309352518\n
12,O,O,0.0003012547385878861,12,0.9137931034482759,0.8920863309352518\n
13,O,O,2.7705527827492915e-07,12,0.9137931034482759,0.8920863309352518\n
18,O,A,0.9999208450317383,12,0.9137931034482759,0.8920863309352518\n
...,...,...,...,...,...,...
26037,O,O,0.16455413401126862,0,0.7298850574712644,0.8273381294964028\n
26043,O,O,0.030748168006539345,0,0.7298850574712644,0.8273381294964028\n
26046,O,O,0.12626472115516663,0,0.7298850574712644,0.8273381294964028\n
26051,O,O,0.002315380610525608,0,0.7298850574712644,0.8273381294964028\n
26052,O,O,2.9966579404572258e-06,0,0.7298850574712644,0.8273381294964028\n

3       1.571138e-04
5       1.201255e-01
12      3.012547e-04
13      2.770553e-07
18      9.999208e-01
            ...
1989    1.087726e-04
1995    1.203776e-07
1998    8.268252e-01
2003    7.353522e-03
2004    1.889668e-03
Name: 8, Length: 1003, dtype: float32

/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_31481/1129819328.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer12[8] = pd.to_numeric(layer12[8], downcast="float")

In [20]:
only_A = filtered_df.loc[filtered_df[1] == 'A']
display(only_A)

layer12 = only_A[only_A[9]== '12']
#display(layer12)
layer12[8] = pd.to_numeric(layer12[8], downcast="float")
print(layer12[8])

layer11 = only_A[only_A[9]== '11']
#display(layer12)
layer11[8] = pd.to_numeric(layer12[8], downcast="float")
print(layer11[8])

      1  7                   8   9                   10                    11
4      A  A  0.9999624490737915  12  0.9137931034482759  0.8920863309352518\n
11     A  A  0.9991893172264099  12  0.9137931034482759  0.8920863309352518\n
17     A  A  0.8729727268218994  12  0.9137931034482759  0.8920863309352518\n
25     A  A  0.9999998807907104  12  0.9137931034482759  0.8920863309352518\n
28     A  A  0.9999964237213135  12  0.9137931034482759  0.8920863309352518\n
...   .. ..                 ...  ..                 ...                   ...
26038  A  A  0.8454346656799316   0  0.7298850574712644  0.8273381294964028\n
26040  A  A  0.9893876314163208   0  0.7298850574712644  0.8273381294964028\n
26042  A  A  0.9999983310699463   0  0.7298850574712644  0.8273381294964028\n
26045  A  A  0.9833311438560486   0  0.7298850574712644  0.8273381294964028\n
26047  A  A  0.9833311438560486   0  0.7298850574712644  0.8273381294964028\n

[6305 rows x 6 columns]

4       0.999962
11      0.999189
17      0.872973
25      1.000000
28      0.999996
          ...
1990    0.999797
1992    0.999966
1994    1.000000
1997    1.000000
1999    1.000000
Name: 8, Length: 485, dtype: float32
2008   NaN
2015   NaN
2021   NaN
2029   NaN
2032   NaN
        ..
3994   NaN
3996   NaN
3998   NaN
4001   NaN
4003   NaN
Name: 8, Length: 485, dtype: float32

/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_31481/47684586.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer12[8] = pd.to_numeric(layer12[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_31481/47684586.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer11[8] = pd.to_numeric(layer12[8], downcast="float")