In [291]:
import pandas as pd

In [292]:
with open("ro_rrt-ud_ro_rrt-ud-test.conllu_0", "r", encoding="utf-8") as f:
    read_file = f.readlines()
    print(type(read_file))


df = pd.DataFrame([sub.split(",") for sub in read_file])
df.head(20)

<class 'list'>

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,,role,case,animacy,subject_word,verb_word,object_word,predicted_role,probability_A,layer,source_test_accuracy_A,source_test_accuracy_O\n,None
1,0,O,"""Acc","Nom""",,,arăta,barcă,O,3.098553179370356e-06,12,0.9069767441860465,0.7852998065764023\n
2,1,S,"""Acc","Nom""",,băiețelul,țipa,,A,0.9999991655349731,12,0.9069767441860465,0.7852998065764023\n
3,2,O,"""Acc","Nom""",,,vârî,capul,O,1.3014669093536213e-06,12,0.9069767441860465,0.7852998065764023\n
4,3,A,"""Acc","Nom""",,femeia,strânge,îl,A,0.9972330927848816,12,0.9069767441860465,0.7852998065764023\n
5,4,S,"""Acc","Nom""",,brațele,putea,,O,0.0052201454527676105,12,0.9069767441860465,0.7852998065764023\n
6,5,A,"""Acc","Nom""",,elicopterul,lansa,bombă,A,0.9999723434448242,12,0.9069767441860465,0.7852998065764023\n
7,6,O,"""Acc","Nom""",,,lansa,bombă,O,0.00020416751794982702,12,0.9069767441860465,0.7852998065764023\n
8,7,S,"""Acc","Nom""",,barca,face,,O,0.007564994506537914,12,0.9069767441860465,0.7852998065764023\n
9,8,S,,,Winston,opri,,A,0.9990077614784241,12,0.9069767441860465,0.7852998065764023\n,None
10,9,A,,,junghi,ține,-l,O,0.0006565615185536444,12,0.9069767441860465,0.7852998065764023\n,None
11,10,O,"""Acc","Nom""",,,turna,șirul,O,0.02305525727570057,12,0.9069767441860465,0.7852998065764023\n
12,11,A,"""Acc","Nom""",,amintire,limpezi,i,O,0.0027180674951523542,12,0.9069767441860465,0.7852998065764023\n
13,12,O,"""Acc","Nom""",,,începe,jurnalul,O,4.8333063773498e-08,12,0.9069767441860465,0.7852998065764023\n
14,13,S,,,lucru,avea,,O,0.11147458106279373,12,0.9069767441860465,0.7852998065764023\n,None
15,14,A,,,Winston,întoarce,buton,A,0.9372696280479431,12,0.9069767441860465,0.7852998065764023\n,None
16,15,O,,,,întoarce,buton,O,9.598711039870977e-05,12,0.9069767441860465,0.7852998065764023\n,None
17,16,S,"""Acc","Nom""",,vocea,slăbi,,O,0.23733004927635193,12,0.9069767441860465,0.7852998065764023\n
18,17,S-passive,"""Acc","Nom""",,cuvintele,distinge,,O,0.0016886875964701176,12,0.9069767441860465,0.7852998065764023\n
19,18,S,,,Winston,lucra,,O,0.017848946154117584,12,0.9069767441860465,0.7852998065764023\n,None

In [293]:
filtered_df = df[[1,7,8,9,10,11]]
display(filtered_df)

,1,7,8,9,10,11
0,role,predicted_role,probability_A,layer,source_test_accuracy_A,source_test_accuracy_O\n
1,O,barcă,O,3.098553179370356e-06,12,0.9069767441860465
2,S,,A,0.9999991655349731,12,0.9069767441860465
3,O,capul,O,1.3014669093536213e-06,12,0.9069767441860465
4,A,îl,A,0.9972330927848816,12,0.9069767441860465
...,...,...,...,...,...,...
14972,S-passive,,O,0.20644570887088776,0,0.6744186046511628
14973,S-passive,O,0.09167425334453583,0,0.6744186046511628,0.7311411992263056\n
14974,S-passive,,O,0.1716090440750122,0,0.6744186046511628
14975,S-passive,,O,0.16653881967067719,0,0.6744186046511628
14976,S-passive,A,0.6003386974334717,0,0.6744186046511628,0.7311411992263056\n

In [294]:
only_S = filtered_df.loc[filtered_df[1] == 'S']
display(only_S)

,1,7,8,9,10,11
2,S,,A,0.9999991655349731,12,0.9069767441860465
5,S,,O,0.0052201454527676105,12,0.9069767441860465
8,S,,O,0.007564994506537914,12,0.9069767441860465
9,S,A,0.9990077614784241,12,0.9069767441860465,0.7852998065764023\n
14,S,O,0.11147458106279373,12,0.9069767441860465,0.7852998065764023\n
...,...,...,...,...,...,...
14966,S,O,0.2438696175813675,0,0.6744186046511628,0.7311411992263056\n
14967,S,O,0.24439439177513123,0,0.6744186046511628,0.7311411992263056\n
14968,S,,A,1.0,0,0.6744186046511628
14970,S,A,0.9916623830795288,0,0.6744186046511628,0.7311411992263056\n
14971,S,,A,0.9999998807907104,0,0.6744186046511628

In [295]:
obj_col = only_S.loc[only_S[7] == 'O']
display(obj_col)

,1,7,8,9,10,11
14,S,O,0.11147458106279373,12,0.9069767441860465,0.7852998065764023\n
19,S,O,0.017848946154117584,12,0.9069767441860465,0.7852998065764023\n
22,S,O,0.021560681983828545,12,0.9069767441860465,0.7852998065764023\n
48,S,O,0.002665736945345998,12,0.9069767441860465,0.7852998065764023\n
49,S,O,0.18798597157001495,12,0.9069767441860465,0.7852998065764023\n
...,...,...,...,...,...,...
14879,S,O,0.0345090813934803,0,0.6744186046511628,0.7311411992263056\n
14917,S,O,0.00019092310685664415,0,0.6744186046511628,0.7311411992263056\n
14950,S,O,0.398413747549057,0,0.6744186046511628,0.7311411992263056\n
14966,S,O,0.2438696175813675,0,0.6744186046511628,0.7311411992263056\n
14967,S,O,0.24439439177513123,0,0.6744186046511628,0.7311411992263056\n

In [296]:
agent_col = only_S.loc[only_S[7] == 'A']
display(agent_col)

      1  7                   8   9                   10                    11
9      S  A  0.9990077614784241  12  0.9069767441860465  0.7852998065764023\n
56     S  A                 0.5  12  0.9069767441860465  0.7852998065764023\n
136    S  A  0.9442647099494934  12  0.9069767441860465  0.7852998065764023\n
163    S  A  0.9974725842475891  12  0.9069767441860465  0.7852998065764023\n
201    S  A  0.8354941010475159  12  0.9069767441860465  0.7852998065764023\n
...   .. ..                 ...  ..                 ...                   ...
14923  S  A                 1.0   0  0.6744186046511628  0.7311411992263056\n
14928  S  A  0.9999868869781494   0  0.6744186046511628  0.7311411992263056\n
14930  S  A  0.9999969005584717   0  0.6744186046511628  0.7311411992263056\n
14943  S  A  0.5279226899147034   0  0.6744186046511628  0.7311411992263056\n
14970  S  A  0.9916623830795288   0  0.6744186046511628  0.7311411992263056\n

[917 rows x 6 columns]

In [297]:
### Returns the SA averages of Probability A column for each layer

layer12_agent = agent_col[agent_col[9]== '12']
#display(layer12_agent)
layer12_agent[8] = pd.to_numeric(layer12_agent[8], downcast="float")
print(layer12_agent[8].mean())

layer11_agent = agent_col[agent_col[9]== '11']
#display(layer11_agent)
layer11_agent[8] = pd.to_numeric(layer11_agent[8], downcast="float")
print(layer11_agent[8].mean())

layer10_agent = agent_col[agent_col[9]== '10']
#display(layer10_agent)
layer10_agent[8] = pd.to_numeric(layer10_agent[8], downcast="float")
print(layer10_agent[8].mean())

layer9_agent = agent_col[agent_col[9]== '9']
#display(layer9_agent)
layer9_agent[8] = pd.to_numeric(layer9_agent[8], downcast="float")
print(layer9_agent[8].mean())

layer8_agent = agent_col[agent_col[9]== '8']
#display(layer8_agent)
layer8_agent[8] = pd.to_numeric(layer8_agent[8], downcast="float")
print(layer8_agent[8].mean())

layer7_agent = agent_col[agent_col[9]== '7']
#display(layer7_agent)
layer7_agent[8] = pd.to_numeric(layer7_agent[8], downcast="float")
print(layer7_agent[8].mean())

layer6_agent = agent_col[agent_col[9]== '6']
#display(layer6_agent)
layer6_agent[8] = pd.to_numeric(layer6_agent[8], downcast="float")
print(layer6_agent[8].mean())

layer5_agent = agent_col[agent_col[9]== '5']
#display(layer10_agent)
layer5_agent[8] = pd.to_numeric(layer5_agent[8], downcast="float")
print(layer5_agent[8].mean())

layer4_agent = agent_col[agent_col[9]== '4']
#display(layer9_agent)
layer4_agent[8] = pd.to_numeric(layer4_agent[8], downcast="float")
print(layer4_agent[8].mean())

layer3_agent = agent_col[agent_col[9]== '3']
#display(layer8_agent)
layer3_agent[8] = pd.to_numeric(layer3_agent[8], downcast="float")
print(layer3_agent[8].mean())

layer2_agent = agent_col[agent_col[9]== '2']
#display(layer7_agent)
layer2_agent[8] = pd.to_numeric(layer2_agent[8], downcast="float")
print(layer2_agent[8].mean())

layer1_agent = agent_col[agent_col[9]== '1']
#display(layer6_agent)
layer1_agent[8] = pd.to_numeric(layer1_agent[8], downcast="float")
print(layer1_agent[8].mean())

layer0_agent = agent_col[agent_col[9]== '0']
#display(layer6_agent)
layer0_agent[8] = pd.to_numeric(layer0_agent[8], downcast="float")
print(layer0_agent[8].mean())

0.9273812
0.965665
0.9799949
0.95210946
0.9857063
0.95256436
0.97986656
0.9712798
0.96986794
0.95543224
0.9508681
0.93727
0.928695

/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer12_agent[8] = pd.to_numeric(layer12_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer11_agent[8] = pd.to_numeric(layer11_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer10_agent[8] = pd.to_numeric(layer10_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer9_agent[8] = pd.to_numeric(layer9_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer8_agent[8] = pd.to_numeric(layer8_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer7_agent[8] = pd.to_numeric(layer7_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer6_agent[8] = pd.to_numeric(layer6_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer5_agent[8] = pd.to_numeric(layer5_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer4_agent[8] = pd.to_numeric(layer4_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer3_agent[8] = pd.to_numeric(layer3_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer2_agent[8] = pd.to_numeric(layer2_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer1_agent[8] = pd.to_numeric(layer1_agent[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/770741630.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer0_agent[8] = pd.to_numeric(layer0_agent[8], downcast="float")

In [298]:
### Returns the SO averages of Probability A column for each layer


layer12_obj = obj_col[obj_col[9]== '12']
#display(layer12_obj)
layer12_obj[8] = pd.to_numeric(layer12_obj[8], downcast="float")
print(layer12_obj[8].mean())

layer11_obj = obj_col[obj_col[9]== '11']
#display(layer11_obj)
layer11_obj[8] = pd.to_numeric(layer11_obj[8], downcast="float")
print(layer11_obj[8].mean())

layer10_obj = obj_col[obj_col[9]== '10']
#display(layer10_agent)
layer10_obj[8] = pd.to_numeric(layer10_obj[8], downcast="float")
print(layer10_obj[8].mean())

layer9_obj = obj_col[obj_col[9]== '9']
#display(layer9_agent)
layer9_obj[8] = pd.to_numeric(layer9_obj[8], downcast="float")
print(layer9_obj[8].mean())

layer8_obj = obj_col[obj_col[9]== '8']
#display(layer8_agent)
layer8_obj[8] = pd.to_numeric(layer8_obj[8], downcast="float")
print(layer8_obj[8].mean())

layer7_obj = obj_col[obj_col[9]== '7']
#display(layer7_agent)
layer7_obj[8] = pd.to_numeric(layer7_obj[8], downcast="float")
print(layer7_obj[8].mean())

layer6_obj = obj_col[obj_col[9]== '6']
#display(layer6_agent)
layer6_obj[8] = pd.to_numeric(layer6_obj[8], downcast="float")
print(layer6_obj[8].mean())

layer5_obj = obj_col[obj_col[9]== '5']
#display(layer10_agent)
layer5_obj[8] = pd.to_numeric(layer5_obj[8], downcast="float")
print(layer5_obj[8].mean())

layer4_obj = obj_col[obj_col[9]== '4']
#display(layer9_agent)
layer4_obj[8] = pd.to_numeric(layer4_obj[8], downcast="float")
print(layer4_obj[8].mean())

layer3_obj = obj_col[obj_col[9]== '3']
#display(layer8_agent)
layer3_obj[8] = pd.to_numeric(layer3_obj[8], downcast="float")
print(layer3_obj[8].mean())

layer2_obj = obj_col[obj_col[9]== '2']
#display(layer7_agent)
layer2_obj[8] = pd.to_numeric(layer2_obj[8], downcast="float")
print(layer2_obj[8].mean())

layer1_obj = obj_col[obj_col[9]== '1']
#display(layer6_agent)
layer1_obj[8] = pd.to_numeric(layer1_obj[8], downcast="float")
print(layer1_obj[8].mean())

layer0_obj = obj_col[obj_col[9]== '0']
#display(layer6_agent)
layer0_obj[8] = pd.to_numeric(layer0_obj[8], downcast="float")
print(layer0_obj[8].mean())

0.051732942
0.063615344
0.058543183
0.099253275
0.062243618
0.016162844
0.03565226
0.050511558
0.074945174
0.058704674
0.059232306
0.09337885
0.10948189

/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer12_obj[8] = pd.to_numeric(layer12_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer11_obj[8] = pd.to_numeric(layer11_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer10_obj[8] = pd.to_numeric(layer10_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer9_obj[8] = pd.to_numeric(layer9_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer8_obj[8] = pd.to_numeric(layer8_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer7_obj[8] = pd.to_numeric(layer7_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer6_obj[8] = pd.to_numeric(layer6_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer5_obj[8] = pd.to_numeric(layer5_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer4_obj[8] = pd.to_numeric(layer4_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer3_obj[8] = pd.to_numeric(layer3_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer2_obj[8] = pd.to_numeric(layer2_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer1_obj[8] = pd.to_numeric(layer1_obj[8], downcast="float")
/var/folders/49/431zj7ys6_n42jcfj9z6ycb80000gn/T/ipykernel_11702/730305013.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layer0_obj[8] = pd.to_numeric(layer0_obj[8], downcast="float")